server {
    listen 8081;
    root /var/www/api/public;
    index index.php;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    resolver 127.0.0.11 valid=30s;

    location ~ \.php$ {
        set $upstream_api1 api1:9000;
        fastcgi_pass $upstream_api1;
        fastcgi_index index.php;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME /var/www/html/public$fastcgi_script_name;
    }
}
